<app-nav></app-nav>
<div class="container w-75 mt-3">
    <a href='/admin/map/{{map}}/lineups' class="btn btn-primary">Go back to edit lineups</a> 
    <h1 class="text-center">Create Lineup for {{mapName}}</h1>
    <form [formGroup]="submissionForm">
        <div class="mb-3 text-center">
            <!--Lineup Name-->
            <label>Enter lineup name</label>
            <input type="text" id="name" class="form-control" name="name" placeholder="enter a name" formControlName="lineupName">
            <!--Image-->
            <div class="mt-3">
                <label class="text-center">Upload Image</label>
                <input class="form-control" accept="image/png, image/jpeg" type="file" id="formFile" name="file"
                (change)="handleFileInput($any($event).target.files)">
            </div>
            <!--Side-->
            <label for="side-selection" class="mt-3">Select a side</label>
            <div name="side-selection">
                <select class="form-select" aria-label="Default select example" formControlName="side">
                    <option selected value="attack">Attack</option>
                    <option value="defense">Defense</option>
                </select>
            </div>
            <!--Throw Type-->
            <label for="throw-type" class="mt-3">Throw Type</label>
            <div name="throw-type" class="mt-3">
                <select class="form-select" aria-label="Default select example" formControlName="throwType">
                    <option selected value="Standing Throw">Standing Throw</option>
                    <option value="Standing Right Click Throw">Standing Right Click Throw</option>
                    <option value="Jump Throw">Jump Throw</option>
                    <option value="Jump Right Click Throw">Jump Right Click Throw</option>
                    <option value="Running Throw">Running Throw</option>
                    <option value="Running Right Click Throw">Running Right Click Throw</option>
                    <option value="Running Jump Throw">Running Jump Throw</option>
                    <option value="Running Jump Right Click Throw">Running Jump Right Click Throw</option>
                    <option value="Walking Throw">Walking Throw</option>
                    <option value="Walking Right Click Throw">Walking Right Click Throw</option>
                    <option value="Crouch Throw">Crouch Throw</option>
                    <option value="Crouch Right Click Throw">Crouch Right Click Throw</option>
                </select>
            </div>
            <!--Ability Location Select-->
            <!--Search controls-->
            <div class="mt-3 text-center justify-content-center">
              <label>Select an ability location</label>
              <!--Ability Filter-->
              <div class="mt-3 mb-3">
                  <input type="radio" class="btn-check" name="ability" id="snake-bite" autocomplete="off" (click)="setAbility('snake-bite')" checked>
                  <label class="btn btn-outline-primary" for="snake-bite">Snake Bite</label>

                  <input type="radio" class="btn-check" name="ability" id="poison-orb" autocomplete="off" (click)="setAbility('poison-orb')">
                  <label class="btn btn-outline-primary" for="poison-orb">Poison Orb</label>

                  <input type="radio" class="btn-check" name="ability" id="toxic-screen" autocomplete="off" (click)="setAbility('toxic-screen')">
                  <label class="btn btn-outline-primary" for="toxic-screen">Toxic Screen</label>

                  <input type="radio" class="btn-check" name="ability" id="vipers-pit" autocomplete="off" (click)="setAbility('vipers-pit')">
                  <label class="btn btn-outline-primary" for="vipers-pit">Viper's Pit</label>
              </div>
            </div>
            <div class="text-center mt-3">
                <p>Current selected ability location: <strong>{{selectedAbilityLocationName}}</strong></p>
                <div class="container p-0" style="position:relative;top:0;left:0;width:512px">
                    <img src="../../../assets/img/maps/{{map}}_map.png" class="map">
                    <!--Dot factory-->
                    <img *ngFor="let location of abilityLocations;" src="../../../assets/img/AbilityLocationDot.png" 
                    [ngStyle]="{'height.px': 15, 'width.px': 15, 'position': 'absolute', 'left.px': location.positionx - 7, 'top.px': location.positiony - 7,
                    'display':abilityDisplay(location._id, location.ability) ? 'block' : 'none'}"
                    type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#modal' + location._id">
                </div> 
            </div>
            <!--Lineup Location Select-->
            <div class="text-center mt-3">
                <label for="lineup-location-select">Select a linuep location</label>
                <p>Current selected lineup location: <strong>{{selectedLineupLocationName}}</strong></p>
                <div class="container p-0" style="position:relative;top:0;left:0;width:512px" name="lineup-location-select">
                    <img src="../../../assets/img/maps/{{map}}_map.png" class="map">
                    <!--Dot factory-->
                    <img *ngFor="let location of lineupLocations;" src="../../../assets/img/LineupLocationDot.png" 
                    [ngStyle]="{'height.px': 15, 'width.px': 15, 'position': 'absolute', 'left.px': location.positionx - 7, 'top.px': location.positiony - 7 }"
                    type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#modal' + location._id">
                </div> 
            </div>
            <div>
                <div class="alert alert-danger" role="alert" [ngStyle]="{'display':submissionError ? 'block' : 'none'}">
                    {{errorMessage}}
                </div>
                <div class="alert alert-success" role="alert" [ngStyle]="{'display':submissionSuccess ? 'block' : 'none'}">
                    <p>Lineup created successfully!</p>
                </div>
                <input type="button" (click)="attemptSubmission()" class="btn btn-success mt-3" value="Submit">
            </div>
        </div>
    </form>
</div>

<!--Ability Location Modal Factory-->
<div *ngFor="let location of abilityLocations;" class="modal fade text-center" [attr.id]="'modal' + location._id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{location.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--Image-->
          <img [attr.src]="'../../../assets/img/uploads/' + location._id + '.png'" class="img-fluid">
        </div>
        <div class="modal-footer">
          <!--Buttons-->
          <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Close</button>
          <input type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal" value="Select" (click)="selectAbilityLocation(location._id, location.name, location.ability)">
        </div>
      </div>
    </div>
  </div>
<!--Lineup Location Modal Factory-->
<div *ngFor="let location of lineupLocations;" class="modal fade text-center" [attr.id]="'modal' + location._id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{location.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--Image-->
          <img [attr.src]="'../../../assets/img/uploads/' + location._id + '.png'" class="img-fluid">
        </div>
        <div class="modal-footer">
          <!--Buttons-->
          <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Close</button>
          <input type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal" value="Select" (click)="selectLineupLocation(location._id, location.name)">
        </div>
      </div>
    </div>
  </div>
