<app-nav></app-nav>
<div class="container justify-content-center w-75">
    <h1 class="text-center">Welcome!</h1>
    <p>This website is meant to be used as an archive for abilty lineups for the character Viper from the 
        game, VALORANT. The website uses some terminology, which is explained below.</p>
    <p>-Ability Location: Where and ability will land after performing a lineup.</p>
    <p>-Lineup Location: Where to position yourself when performing a lineup.</p>
    <p>-Lineup: Where to aim when perofrming a lineup.</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let map of MAPS;" class="col">
            <div class="card p-3">
                <a type="button" class="list-group-item" href="/map/{{map}}">
                    <img class="card-img-top" src="../../../assets/img/home/{{map}} pfp.jpg">
                    <div class="card-body text-center">
                        <h3 class="card-title">{{map.charAt(0).toUpperCase() + map.slice(1)}}</h3>
                    </div>
                </a>
            </div>
        </div>
</div>
