<app-nav></app-nav>
<div class="container w-75 mt-3 text-center">
    <h1 class="text-center">Admin Dashboard</h1>
    <div class="btn-group mt-3">
        <!--Ascent-->
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Ascent
            </a>
        
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="admin/map/ascent/lineup-position">Edit Lineup Positions</a></li>
            <li><a class="dropdown-item" href="admin/map/ascent/ability-location">Edit Ability Locations</a></li>
            <li><a class="dropdown-item" href="admin/map/ascent/lineups">Edit Lineups</a></li>
            </ul>
        </div>

        <!--Bind-->
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Bind
            </a>
        
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="admin/map/bind/lineup-position">Edit Lineup Positions</a></li>
                <li><a class="dropdown-item" href="admin/map/bind/ability-location">Edit Ability Locations</a></li>
                <li><a class="dropdown-item" href="admin/map/bind/lineups">Edit Lineups</a></li>
            </ul>
        </div>

        <!--Breeze-->
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Breeze
            </a>
        
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="admin/map/breeze/lineup-position">Edit Lineup Positions</a></li>
                <li><a class="dropdown-item" href="admin/map/breeze/ability-location">Edit Ability Locations</a></li>
                <li><a class="dropdown-item" href="admin/map/breeze/lineups">Edit Lineups</a></li>
            </ul>
        </div>

        <!--Fracture-->
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Fracture
            </a>
        
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="admin/map/fracture/lineup-position">Edit Lineup Positions</a></li>
                <li><a class="dropdown-item" href="admin/map/fracture/ability-location">Edit Ability Locations</a></li>
                <li><a class="dropdown-item" href="admin/map/fracture/lineups">Edit Lineups</a></li>
            </ul>
        </div>

        <!--Haven-->
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Haven
            </a>
        
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="admin/map/fracture/lineup-position">Edit Lineup Positions</a></li>
                <li><a class="dropdown-item" href="admin/map/fracture/ability-location">Edit Ability Locations</a></li>
                <li><a class="dropdown-item" href="admin/map/fracture/lineups">Edit Lineups</a></li>
            </ul>
        </div>

        <!--Icebox-->
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Icebox
            </a>
        
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="admin/map/icebox/lineup-position">Edit Lineup Positions</a></li>
                <li><a class="dropdown-item" href="admin/map/icebox/ability-location">Edit Ability Locations</a></li>
                <li><a class="dropdown-item" href="admin/map/icebox/lineups">Edit Lineups</a></li>
            </ul>
        </div>

        <!--Pearl-->
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Pearl
            </a>
        
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="admin/map/pearl/lineup-position">Edit Lineup Positions</a></li>
                <li><a class="dropdown-item" href="admin/map/pearl/ability-location">Edit Ability Locations</a></li>
                <li><a class="dropdown-item" href="admin/map/pearl/lineups">Edit Lineups</a></li>
            </ul>
        </div>

        <!--Split-->
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Split
            </a>
        
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="admin/map/split/lineup-position">Edit Lineup Positions</a></li>
                <li><a class="dropdown-item" href="admin/map/split/ability-location">Edit Ability Locations</a></li>
                <li><a class="dropdown-item" href="admin/map/split/lineups">Edit Lineups</a></li>
            </ul>
        </div>
    </div>
</div>
