<app-nav></app-nav>
<div class="container w-75 mt-3 text-center">
    <h1 class="text-center">Admin Dashboard</h1>
    <div class="btn-group mt-3">

        <div *ngFor="let map of MAPS;" class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                {{map.charAt(0).toUpperCase() + map.slice(1)}}
            </a>
        
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="admin/map/{{map}}/ability-location">Edit Ability Locations</a></li>
            <li><a class="dropdown-item" href="admin/map/{{map}}/lineup-location">Edit Lineup Positions</a></li>
            <li><a class="dropdown-item" href="admin/map/{{map}}/lineups">Edit Lineups</a></li>
            </ul>
        </div>
    </div>
</div>
